:root {
  --color-primary: #2e3192;
  --color-second: #ffffff;
  --font-primary: 'Roboto', sans-serif;
  --font-second: 'Alfa Slab One', cursive;
}

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
body {

  overflow: hidden;
  background: linear-gradient(45deg, #8e017a, #290180);
  background-image: linear-gradient(
    to bottom right,
    #290180 0%,
    #8e017a 100%
  );
  height: 100vh;
  background-size: 200% 200%;
  animation: movingGradient 8s linear infinite alternate;
}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
.logo {
  width: 200px;
}
h2 {
  font-family: var(--font-second);
  font-size: 2.2em;
  color: var(--color-second);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
h3 {
  font-family: var(--font-second);
  font-size: 1.7em;
}

/* CSS Rules*/
.div-surname-rules {
  display: flex;
  justify-content: center;
}

.list-theme {
  font-family: var(--font-primary);
  font-size: 1.5em;
  padding: 4px;
  list-style: none;
  margin: 5px 40px 5px 40px;
}

.random-username {
  font-family: var(--font-primary);
  font-size: 1.5em;
  padding: 4px;
  margin: 5px 40px 5px 40px;
}

.ul-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.div-rules {
  width: 500px;
  height: 506px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(222, 210, 40, 0.15);
  flex-direction: column;
  color: var(--color-second);
  align-items: center;
  border-radius: 30px;
  border: 5px solid var(--color-second);
}

.rules-title {
  color: var(--color-second);
}

.container-button {
  display: flex;
  justify-content: center;
  color: var(--color-second);
  bottom: 35px;
  position: relative;
}

.MuiSvgIcon-root {
  color: var(--color-second);
}

.active svg {
  color: #ff00ae;
}

/***** CSS for Questions component ********/

.close-button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  width: 97%;
}

.Questions {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(222, 210, 40, 0.15);
  border-radius: 30px;
  border: 5px solid var(--color-second);
  width: 100%;
  margin-bottom: 20px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  margin: auto;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Question {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 60%;
  font-family: var(--font-secondary);
  color: white;
}

#logo-questions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  margin-bottom: 10px;
  margin-top: -45px;
}

.num-questions {
  font-family: var(--font-primary);
  color: white;
}

.PlayQuestions {
  width: 15%;
  margin: 20px;
}

.QuestionsContainer {
  display: flex;
  width: 70vw;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.QandAContainer {
  width: 70vw;
  height: 100vh;
  margin: auto;
  flex-direction: column;
}

.ResponseButton {
  padding: 20px;
  width: 20vw;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: #2e8efc;
  border: 2px solid white;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-second);
  cursor: pointer;
}

.button-pickit {
  width: 100px;
}

.ButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 20px;
  font-weight: bold;
}

.QandAContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

#green-button {
  background-color: green;
}

#red-button {
  background-color: red;
}

/***** END of CSS for Questions component ********/

/*Username*/

.username {
  display: flex;
}

/* Welcome */

.welcome-container1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.welcome-container2 {
  margin-top: auto;
  margin-bottom: auto;
}

.welcome-container3 {
  display: flex;
  justify-content: center;
}

.welcome-logo {
  width: 50%;
}

.play-button-container {
  display: flex;
  justify-content: center;
}

ul {
  padding: 20px;
}

a {
  color: var(--color-second);
  text-decoration: none;
}
.play-button {
  border: 5px solid white;
  border-radius: 15px;
  color: white;
  margin: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  background-color: #8e017a;
  font-family: var(--font-second);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* CSS Timer */

.timer {
  font-family: var(--font-primary);
  font-size: 1.7em;
  color: var(--color-second);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(222, 210, 40, 0);
  border: 3px solid var(--color-second);
  position: relative;
  left: 500px;
}

/* CSS barre player */

.player-infos-container1 {
  width: 100%;
}

.player-infos-container2 {
  width: 100%;
  border: 5px solid white;
  border-radius: 15px;
  color: white;
}

.player-infos-container2,
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  font-family: var(--font-primary);
  justify-content: space-evenly;
}

/* Endgame CSS start*/
.endgame-quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
  justify-content: center;
  margin-top: -45px;
}

.endgame-quote {
  font-size: 20px;
  color: white;
}

.avatarImg {
  width: 100px;
}
.end-button-container {
  display: flex;
  height: 100vh;
  align-items: center;
}
.end-button {
  border: 5px solid white;
  border-radius: 15px;
  color: white;
  margin: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  background-color: #8e017a;
  font-family: var(--font-second);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Endgame CSS end*/
