:root {
  --color-primary: #2e3192;
  --color-second: #ffffff;
  --font-primary: 'Roboto', sans-serif;
  --font-second: 'Alfa Slab One', cursive;
}

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

#root {
  background: linear-gradient(45deg, #8e017a, #290180);
  height: 100vh;
}
.logo {
  width: 200px;
}
h2 {
  font-family: var(--font-second);
  font-size: 2.2em;
  color: var(--color-second);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
h3 {
  font-family: var(--font-second);
  font-size: 1.7em;
}

/* CSS Rules*/
.div-surname-rules {
  display: flex;
  justify-content: center;
}

.list-theme {
  font-family: var(--font-primary);
  font-size: 1.5em;
  padding: 4px;
  list-style: none;
  margin: 5px 40px 5px 40px;
}

.random-username {
  font-family: var(--font-primary);
  font-size: 1.5em;
  padding: 4px;
  margin: 5px 40px 5px 40px;
}

.ul-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.div-rules {
  width: 500px;
  height: 506px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(222, 210, 40, 0.15);
  flex-direction: column;
  color: var(--color-second);
  align-items: center;
  border-radius: 30px;
  border: 5px solid var(--color-second);
}

.rules-title {
  color: var(--color-second);
}

.container-button {
  display: flex;
  justify-content: center;
  color: var(--color-second);
  bottom: 35px;
  position: relative;
}

.MuiSvgIcon-root {
  color: var(--color-second);
}

.active svg {
  color: #ff00ae;
}


/***** CSS for Questions component ********/

.Questions {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(222, 210, 40, 0.15);
  border-radius: 30px;
  border: 5px solid var(--color-second);
}

.Question {
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 100%;
}

#logo-questions{
  width: 200px;
  padding-bottom: 70px;
}

.PlayQuestions {
  width: 15%;
  margin: 20px;
}
.QuestionsContainer {
  display: flex;
  width: 70vw;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
button {
  padding: 20px;
  width: 20vw;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: #2e8efc;
  border: 2px solid white;
  font-size: 1rem;
  color:  var(--color-second);
}

.button-pickit {
  width: 100px;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
}
.QandAContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
/***** END of CSS for Questions component ********/

/*Username*/

.username {
 display: flex;
}

/* Welcome */

.welcome-container1 {
  display: flex;
  flex-direction: column;
  height: 506px;
}

.welcome-container2 {
  margin-top: auto;
  margin-bottom: auto;
}

.welcome-container3 {
  display: flex;
  justify-content: center;
}

.welcome-logo {
  width: 50%;
}

.play-button-container {
  display: flex;
  justify-content: center;
}
a {
  color: var(--color-second);
  text-decoration: none;
}
.play-button {
  border: 5px solid white;
  border-radius: 15px;
  color: white;
  margin: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  background-color: #8e017a;
  font-family: var(--font-second);
  font-size: 20px;
  font-weight: bold;
}

/* CSS Questions */

/* CSS Timer */

.timer {
  font-family: var(--font-primary);
  font-size: 1.7em;
  color: var(--color-second);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(222, 210, 40, 0);
  border: 3px solid var(--color-second);
  position: relative;
  left: 500px;
}
/* CSS barre player */

.player-infos-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }
  .player-infos-container2 {
    width: 40%;
    border: 5px solid white;
    border-radius: 15px;
    color: var(--color-second);
    margin: 20px;
  }
  .player-infos-container2, ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
  }